// $primary: #086e81;
// $primary: #00205B;
$primary: #0095E9;

.Navbar {
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    position: fixed;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;

    .top_navbar {
        width: 100%;
        display: flex;
        padding: 0.8vw 10vw;
        align-items: center;
        background-color: $primary;
        justify-content: space-between;

        @media (max-width:767px) {
            padding: 1.2vw 5vw;
        }

        .desc {
            color: white;
            font-weight: 500;

            @media (max-width:767px) {
                width: 55%;
            }
        }

        .bonus_btn {
            border: none;
            font-weight: 600;
            color: $primary;
            padding: 0.7vw 1.3vw;
            background-color: white;

            @media (max-width:767px) {
                padding: 1.8vw 3vw;
            }
        }
    }

    .middle_navbar {
        display: flex;
        align-items: center;
        padding: 0.8vw 10vw;
        background-color: #F4F5F5;
        justify-content: space-between;

        @media (max-width:767px) {
            padding: 1.2vw 5vw;
        }

        .left {
            display: flex;
            align-items: center;

            .loc {
                max-width: 1.3vw;
                min-width: 1.3vw;

                @media (max-width:767px) {
                    max-width: 4vw;
                    min-width: 4vw;
                }
            }

            .min-text {
                color: black;
            }

            a {
                text-decoration: underline;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .tool {
                display: flex;
                align-items: center;
                text-decoration: none;

                @media (max-width:767px) {
                    display: none;
                }

                .min-text {
                    color: black;
                }

                .icn {
                    max-width: 1.3vw;
                    min-width: 1.3vw;

                    @media (max-width:767px) {
                        max-width: 4.5vw;
                        min-width: 4.5vw;
                    }
                }
            }

            .tel {
                color: $primary;
                font-weight: 600;
            }

            .language {
                display: flex;
                position: relative;
                justify-content: center;

                .lang_title {
                    gap: 5px;
                    display: flex;
                    color: black;
                    cursor: pointer;
                    align-items: center;

                    .icn {
                        max-width: 0.9vw;
                        min-width: 0.9vw;

                        @media (max-width:767px) {
                            max-width: 3vw;
                            min-width: 3vw;
                        }
                    }
                }

                .lang_menu {
                    top: 1.3vw;
                    z-index: 10;
                    overflow: hidden;
                    position: absolute;
                    background-color: $primary;
                    border: solid 1px $primary;

                    @media (max-width:767px) {
                        top: 4vw;
                    }

                    .min-text {
                        color: white;
                        padding: 0.3vw 1vw;

                        &:hover {
                            cursor: pointer;
                            color: $primary;
                            background-color: white;
                        }

                        @media (max-width:767px) {
                            padding: 0.7vw 2.5vw;
                        }
                    }
                }
            }
        }
    }

    .bottom_navbar {
        display: flex;
        padding: 0.5vw 10vw;
        align-items: center;
        background-color: white;
        justify-content: space-between;

        @media (max-width:767px) {
            gap: 2vw 5vw;
            flex-wrap: wrap;
            padding: 1.5vw 5vw;
            justify-content: space-between;
        }

        .logo {
            width: 15vw;

            @media (max-width:767px) {
                width: 29vw;
            }

            img {
                max-width: 100%;
                min-width: 100%;
            }
        }

        .catalog {
            display: flex;
            position: relative;
            justify-content: center;

            .catalog_btn {
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                padding: 0.7vw 1.5vw;
                background-color: $primary;

                @media (max-width:767px) {
                    gap: 4vw;
                    padding: 1.8vw 3vw;
                }

                .text {
                    color: white;
                }

                .icn {
                    max-width: 1.2vw;
                    min-width: 1.2vw;

                    @media (max-width:767px) {
                        max-width: 3.3vw;
                        min-width: 3.3vw;
                    }
                }
            }

            .catalog_bar {
                top: 0;
                left: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                display: flex;
                overflow: auto;
                position: fixed;
                background-color: white;
                justify-content: space-between;

                .close_icn {
                    top: 1.5vw;
                    right: 1.2vw;
                    width: 1.5vw;
                    cursor: pointer;
                    position: absolute;

                    @media (max-width:767px) {
                        top: 2vw;
                        right: 2vw;
                        width: 3.5vw;
                    }
                }

                .left {
                    width: 30%;
                    overflow: auto;
                    max-height: 100vh;

                    @media (max-width:767px) {
                        width: 49%;
                    }
                }

                .right {
                    width: 68%;
                    display: grid;
                    overflow: auto;
                    align-items: start;
                    max-height: 100vh;
                    border-left: solid 1px grey;
                    grid-template-columns: repeat(3, 3fr);

                    @media (max-width:767px) {
                        width: 49%;
                        grid-template-columns: repeat(1, 1fr);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    .prod_img {
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 5vw;
                        min-height: 5vw;
                        object-fit: contain;

                        @media (max-width:767px) {
                            display: none;
                            max-height: 15vw;
                            min-height: 15vw;
                        }
                    }

                    .text {
                        color: black;
                        text-align: center;

                        @media (max-width:767px) {
                            font-size: 3vw;
                            text-align: left;
                        }
                    }

                    .prod {
                        display: flex;
                        text-decoration: none;
                        flex-direction: column;
                        border: solid 1px grey;
                    }
                }

                .bar_link {
                    display: flex;
                    color: black;
                    text-align: left;
                    padding: 0.5vw 1vw;
                    flex-direction: column;
                    border-bottom: solid 1px rgb(210, 210, 210);

                    // &:hover {
                    //     color: $primary;
                    //     background-color: white;
                    // }

                    @media (max-width:767px) {
                        padding: 1.5vw 3vw;
                    }

                    .parent {
                        width: 100%;
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: space-between;

                        .icn1 {
                            max-width: 1.2vw;
                            min-width: 1.2vw;

                            @media (max-width:767px) {
                                display: none;
                                max-width: 4vw;
                                min-width: 4vw;
                            }
                        }

                        .icn2 {
                            max-width: 0.5vw;
                            min-width: 0.5vw;
                            transition: 0.2s;
                            -webkit-transition: 0.2s;
                            -moz-transition: 0.2s;
                            -ms-transition: 0.2s;
                            -o-transition: 0.2s;
                            margin-right: 0.5vw;

                            @media (max-width:767px) {
                                max-width: 1.5vw;
                                min-width: 1.5vw;
                            }
                        }
                    }

                    .childs {
                        height: 0;
                        width: 100%;
                        display: flex;
                        overflow: hidden;
                        flex-direction: column;

                        .link {
                            color: $primary;
                            cursor: pointer;

                            &:hover {
                                color: white;
                                background-color: $primary;
                            }
                        }
                    }
                }

                .active_catalog {
                    .parent {
                        .icn2 {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                        }
                    }

                    .childs {
                        height: auto;
                    }
                }
            }
        }

        .searching {
            width: 30vw;
            display: flex;
            position: relative;
            align-items: center;

            @media (max-width:767px) {
                width: 70%;
            }

            .input {
                width: 100%;
                outline: none;
                color: black;
                padding-right: 6vw;
                background-color: white;
                border: solid 1px #b1b0b377;

                &:focus {
                    border-color: black;
                }
            }

            .icon {
                right: 0;
                height: 100%;
                display: flex;
                padding: 0 2vw;
                cursor: pointer;
                position: absolute;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-color: $primary;

                .icn {
                    max-width: 1.2vw;
                    min-width: 1.2vw;

                    @media (max-width:767px) {
                        max-width: 3.3vw;
                        min-width: 3.3vw;
                    }
                }
            }

            .search_bar {
                top: 3vw;
                z-index: 10;
                width: 100%;
                display: flex;
                overflow: auto;
                max-height: 50vh;
                position: absolute;
                flex-direction: column;
                background-color: $primary;

                @media (max-width:767px) {
                    top: 9vw;
                    max-height: 60vh;
                }

                .bar_link {
                    color: white;
                    padding: 0.5vw 1vw;

                    &:hover {
                        color: $primary;
                        background-color: white;
                    }

                    @media (max-width:767px) {
                        padding: 1.5vw 3vw;
                    }
                }
            }
        }

        .link {
            display: flex;
            position: relative;
            align-items: center;
            text-decoration: none;

            .icn {
                max-width: 1.5vw;
                min-width: 1.5vw;

                @media (max-width:767px) {
                    max-width: 5.5vw;
                    min-width: 5.5vw;
                }

            }

            .min-text {
                color: black;
            }

            span {
                left: 1vw;
                width: 1vw;
                height: 1vw;
                top: -0.3vw;
                display: flex;
                color: white;
                font-size: 0.7vw;
                position: absolute;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: $primary;
                font-family: 'Montserrat', sans-serif;

                @media (max-width:767px) {
                    left: 3vw;
                    top: -1.2vw;
                    width: 3.8vw;
                    height: 3.8vw;
                    font-size: 2vw;
                }
            }
        }

        .ver_1 {
            @media (min-width:767.1px) {
                display: none;
            }
        }

        .ver_2 {
            @media (max-width:767px) {
                display: none;
            }
        }
    }
}

.HideNavbar {
    top: -8vw;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;

    .bottom_navbar {
        border-bottom: solid 1px rgb(214, 214, 214);

        @media (max-width:767px) {
            border-bottom: solid 1px rgb(214, 214, 214);
        }
    }

    @media (max-width:767px) {
        top: -18vw;
    }
}