// $primary: #086e81;
// $primary: #00205B;
// $primary: #0095E9;
// $primary: #3079BD;
// $primary: #0A92D0;
// $primary: #4BAC3B;
// $primary: #459057;
$primary: #49C3F2;
$secondary: #072B3D;

.Navbar {
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    position: fixed;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;

    .top_navbar {
        width: 100%;
        display: flex;
        padding: 0.8vw 10vw;
        align-items: center;
        background-color: $secondary;
        justify-content: space-between;

        @media (max-width:767px) {
            padding: 1.2vw 5vw;
        }

        .desc {
            color: white;
            font-weight: 500;

            @media (max-width:767px) {
                width: 55%;
            }
        }

        .bonus_btn {
            border: none;
            color: white;
            font-weight: 600;
            padding: 0.7vw 1.3vw;
            background-color: $primary;

            @media (max-width:767px) {
                padding: 1.8vw 3vw;
            }
        }
    }

    .middle_navbar {
        display: flex;
        align-items: center;
        padding: 0.8vw 10vw;
        background-color: $primary;
        justify-content: space-between;

        @media (max-width:767px) {
            padding: 1.2vw 5vw;
        }

        .left {
            display: flex;
            align-items: center;

            .loc {
                max-width: 1.3vw;
                min-width: 1.3vw;

                @media (max-width:767px) {
                    max-width: 4vw;
                    min-width: 4vw;
                }
            }

            .min-text {
                color: white;
            }

            a {
                text-decoration: underline;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .tool {
                display: flex;
                align-items: center;
                text-decoration: none;

                @media (max-width:767px) {
                    display: none;
                }

                .min-text {
                    color: white;
                }

                .icn {
                    max-width: 1.3vw;
                    min-width: 1.3vw;

                    @media (max-width:767px) {
                        max-width: 4.5vw;
                        min-width: 4.5vw;
                    }
                }
            }

            .tel {
                color: white;
                font-weight: 600;
            }

            .language {
                display: flex;
                position: relative;
                justify-content: center;

                .lang_title {
                    gap: 5px;
                    display: flex;
                    color: white;
                    cursor: pointer;
                    align-items: center;

                    .icn {
                        max-width: 0.9vw;
                        min-width: 0.9vw;

                        @media (max-width:767px) {
                            max-width: 3vw;
                            min-width: 3vw;
                        }
                    }
                }

                .lang_menu {
                    top: 1.3vw;
                    z-index: 10;
                    overflow: hidden;
                    position: absolute;
                    background-color: $secondary;
                    border: solid 1px $secondary;

                    @media (max-width:767px) {
                        top: 4vw;
                    }

                    .min-text {
                        color: white;
                        padding: 0.3vw 1vw;

                        &:hover {
                            cursor: pointer;
                            color: $primary;
                            background-color: white;
                        }

                        @media (max-width:767px) {
                            padding: 0.7vw 2.5vw;
                        }
                    }
                }
            }
        }

        .bonus_btn {
            border: none;
            color: $primary;
            font-weight: 600;
            padding: 0.7vw 1.3vw;
            background-color: white;

            @media (max-width:767px) {
                display: none;
                padding: 1.8vw 3vw;
            }
        }
    }

    .bottom_navbar {
        display: flex;
        padding: 0.5vw 10vw;
        align-items: center;
        background-color: white;

        @media (max-width:767px) {
            gap: 2vw 5vw;
            flex-wrap: wrap;
            padding: 1.5vw 5vw;
        }

        .logo {
            width: 10vw;
            align-items: center;
            justify-content: center;

            @media (max-width:767px) {
                width: 25vw;
            }

            img {
                height: auto;
                max-width: 100%;
                min-width: 100%;
            }
        }

        .catalog {
            display: flex;
            position: relative;
            justify-content: center;

            .catalog_btn {
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                padding: 0.7vw 1.5vw;
                background-color: $primary;

                @media (max-width:767px) {
                    gap: 4vw;
                    padding: 1.8vw 3vw;
                }

                .text {
                    color: white;
                }

                .icn {
                    max-width: 1.2vw;
                    min-width: 1.2vw;

                    @media (max-width:767px) {
                        max-width: 3.3vw;
                        min-width: 3.3vw;
                    }
                }
            }

            .category_bar {
                top: 3vw;
                z-index: 8;
                width: 32vw;
                display: flex;
                position: absolute;
                flex-direction: column;
                background-color: white;
                border: solid 1px $primary;

                @media (max-width:767px) {
                    top: 9vw;
                    left: -32vw;
                    width: 49vw;
                }

                .single_category {
                    cursor: pointer;
                    position: relative;
                    border: solid 1px transparent;

                    &:hover {
                        border-color: $primary;

                        .childs {
                            display: flex;
                        }
                    }

                    .category_title {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .left {
                            display: flex;
                            color: black;
                            align-items: center;

                            .icn1 {
                                max-width: 1.2vw;
                                min-width: 1.2vw;

                                @media (max-width:767px) {
                                    max-width: 4vw;
                                    min-width: 4vw;
                                }
                            }
                        }

                        .icn2 {
                            max-width: 0.5vw;
                            min-width: 0.5vw;
                            transition: 0.2s;
                            -webkit-transition: 0.2s;
                            -moz-transition: 0.2s;
                            -ms-transition: 0.2s;
                            -o-transition: 0.2s;
                            margin-right: 0.5vw;
                            transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -moz-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);

                            @media (max-width:767px) {
                                max-width: 1.5vw;
                                min-width: 1.5vw;
                            }
                        }
                    }

                    .child_sub {
                        display: none;
                        color: $secondary;
                        padding: 0.5vw 1.5vw;

                        &:hover {
                            background-color: $primary;
                        }
                    }

                    .act_child_sub {
                        display: flex;
                    }

                    .childs {
                        top: 0;
                        width: 100%;
                        right: -100.7%;
                        display: none;
                        overflow: auto;
                        max-height: 50vh;
                        position: absolute;
                        flex-direction: column;
                        background-color: white;
                        border: solid 1px rgb(169, 169, 169);

                        @media (max-width:767px) {
                            width: 95%;
                            right: -95.8%;
                        }

                        .child {
                            color: black;
                            padding: 0.3vw 1vw;

                            &:hover {
                                color: white;
                                background-color: $primary;
                            }

                            @media (max-width:767px) {
                                padding: 1vw 2vw;
                            }
                        }
                    }
                }
            }

            .category_menu {
                top: 3.5vw;
                z-index: 13;
                left: -10vw;
                width: 100vw;
                height: 70vh;
                display: flex;
                padding: 2vw 10vw;
                position: absolute;
                justify-content: space-between;
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                @media (max-width:767px) {
                    top: 8vw;
                    left: -5vw;
                    height: auto;
                    padding: 3vw 5vw;
                    max-height: 70vh;
                }

                .categories {
                    width: 30%;
                    display: flex;
                    overflow: auto;
                    flex-direction: column;

                    @media (max-width:767px) {
                        width: 45%;
                    }

                    .category_title {
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: space-between;

                        @media (max-width:767px) {
                            margin-top: 3vw;
                        }

                        .categ {
                            display: flex;
                            font-weight: 600;
                            align-items: center;

                            .icn1 {
                                max-width: 1.7vw;
                                min-width: 1.7vw;

                                @media (max-width:767px) {
                                    max-width: 4vw;
                                    min-width: 4vw;
                                }
                            }
                        }

                        .icn2 {
                            max-width: 0.8vw;
                            min-width: 0.8vw;
                            transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -moz-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);
                        }
                    }

                    .act_categ {
                        background-color: rgb(228, 228, 228);
                    }
                }

                .category_prods {
                    width: 65%;
                    gap: 2vw 4vw;
                    display: flex;
                    overflow: auto;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    // grid-template-columns: repeat(2, 2fr);

                    @media (max-width:767px) {
                        width: 50%;
                        gap: 5vw;
                        display: flex;
                        flex-direction: column;
                        grid-template-columns: repeat(1, 1fr);
                    }

                    .sub_categ {
                        display: flex;
                        flex-direction: column;

                        .sub_categ_title {
                            font-weight: 600;

                            &::first-letter {
                                text-transform: uppercase;
                            }
                        }

                        .prod {
                            color: black;

                            &::first-letter {
                                text-transform: uppercase;
                            }

                            &:hover {
                                color: $secondary;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .searching {
            width: 30vw;
            display: flex;
            position: relative;
            align-items: center;

            @media (max-width:767px) {
                width: 65%;
            }

            .input {
                width: 100%;
                outline: none;
                color: black;
                padding-right: 6vw;
                background-color: white;
                border: solid 1px #b1b0b377;

                &:focus {
                    border-color: black;
                }
            }

            .icon {
                right: 0;
                height: 100%;
                display: flex;
                padding: 0 2vw;
                cursor: pointer;
                position: absolute;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-color: $primary;

                .icn {
                    max-width: 1.2vw;
                    min-width: 1.2vw;

                    @media (max-width:767px) {
                        max-width: 3.3vw;
                        min-width: 3.3vw;
                    }
                }
            }

            .search_bar {
                top: 3vw;
                z-index: 10;
                width: 100%;
                display: flex;
                overflow: auto;
                max-height: 50vh;
                position: absolute;
                flex-direction: column;
                background-color: $primary;

                @media (max-width:767px) {
                    top: 9vw;
                    max-height: 60vh;
                }

                .bar_link {
                    color: white;
                    padding: 0.5vw 1vw;

                    &:hover {
                        color: $primary;
                        background-color: white;
                    }

                    @media (max-width:767px) {
                        padding: 1.5vw 3vw;
                    }
                }
            }
        }

        .link {
            display: flex;
            position: relative;
            align-items: center;
            text-decoration: none;

            .icn {
                max-width: 1.5vw;
                min-width: 1.5vw;

                @media (max-width:767px) {
                    max-width: 5.5vw;
                    min-width: 5.5vw;
                }

            }

            .min-text {
                color: black;
            }

            span {
                left: 1vw;
                width: 1vw;
                height: 1vw;
                top: -0.3vw;
                display: flex;
                color: white;
                font-size: 0.7vw;
                position: absolute;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: $primary;
                font-family: 'Montserrat', sans-serif;

                @media (max-width:767px) {
                    left: 3vw;
                    top: -1.2vw;
                    width: 3.8vw;
                    height: 3.8vw;
                    font-size: 2vw;
                }
            }
        }

        .ver_1 {
            @media (min-width:767.1px) {
                display: none;
            }
        }

        .ver_2 {
            @media (max-width:767px) {
                display: none;
            }
        }
    }
}

.HideNavbar {
    top: -4.5vw;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;

    .bottom_navbar {
        border-bottom: solid 1px rgb(214, 214, 214);

        @media (max-width:767px) {
            border-bottom: solid 1px rgb(214, 214, 214);
        }
    }

    @media (max-width:767px) {
        top: -8vw;
    }
}