.FAQ {
    .wrapper {
        display: flex;
        flex-direction: column;

        .texts {
            display: flex;
            flex-direction: column;

            .answer {
                color: #959595;
            }
        }
    }
}