// $primary: #086e81;
// $primary: #00205B;
// $primary: #0095E9;
// $primary: #3079BD;
// $primary: #0A92D0;
// $primary: #4BAC3B;
// $primary: #459057;
$primary: #49C3F2;
$secondary: rgb(162, 162, 162);

.HomeHeader {
    .wrapper {
        // display: flex;
        padding-top: 14vw;
        padding-bottom: 2vw;
        // flex-direction: column;

        @media (max-width:767px) {
            padding-top: 44vw;
        }

        .mySwiper {
            width: 100%;
            // padding-bottom: 3vw;

            @media (max-width:767px) {
                padding-bottom: 8vw;
            }

            .lenta {
                height: 25vw;
                display: flex;
                position: relative;
                flex-direction: column;

                @media (max-width:767px) {
                    height: 45vw;
                }

                .img {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                left: 0;
                width: 2.2vw;
                height: 2.2vw;
                display: flex;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: white;
                border: solid 1px #9D9D9D;

                &::after {
                    font-size: 1.2vw;
                    color: #9D9D9D;

                    @media (max-width:767px) {
                        font-size: 2.8vw;
                    }
                }

                @media (max-width:767px) {
                    width: 6vw;
                    height: 6vw;
                }
            }

            .swiper-button-next {
                right: 0;
                left: auto;
            }

            .swiper-pagination {
                span {
                    background-color: black;
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet-active {
                    background-color: $primary;
                }
            }
        }
    }
}