// $primary: #086e81;
// $primary: #00205B;
// $primary: #0095E9;
// $primary: #3079BD;
// $primary: #0A92D0;
// $primary: #4BAC3B;
// $primary: #459057;
// $secondary: rgb(162, 162, 162);
$primary: #49C3F2;
$secondary: #072B3D;

.TopProducts {
    .wrapper {
        display: flex;
        padding-top: 0;
        flex-direction: column;

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text {
                color: $primary;
                text-decoration: underline;
            }
        }

        .prods {
            display: grid;
            grid-template-columns: repeat(4, 4fr);

            @media (max-width:767px) {
                grid-template-columns: repeat(2, 2fr);
            }
        }

        .mySwiper,
        .prods {
            width: 100%;

            .product {
                display: flex;
                flex-direction: column;
                background-color: white;
                border: solid 1px rgba(207, 207, 207, 0.634);

                .imgs {
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    align-items: flex-end;
                    flex-direction: column;
                    background-color: white;
                    border: solid 1px #e0e0e0;

                    .badge {
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 50%;
                        padding: 0.5vw;
                        font-weight: 500;
                        text-align: center;
                        position: absolute;
                        background-color: white;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0;

                        @media (max-width:767px) {
                            padding: 1.5vw;
                        }
                    }

                    .heart_btn {
                        border: none;
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        background-color: white;

                        .icn {
                            max-width: 1.2vw;
                            min-width: 1.2vw;

                            @media (max-width:767px) {
                                max-width: 3.5vw;
                                min-width: 3.5vw;
                            }
                        }
                    }

                    .img {
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 12vw;
                        min-height: 12vw;
                        margin-left: -15%;
                        object-fit: contain;

                        @media (max-width:767px) {
                            max-height: 33vw;
                            min-height: 33vw;
                            margin-left: -3%;
                        }
                    }
                }

                .desc {
                    opacity: 0.6;
                    overflow: hidden;
                    font-weight: 700;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 2;
                    // -webkit-box-orient: vertical;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                .price {
                    font-weight: 600;
                }

                .btns {
                    display: flex;
                    justify-content: space-between;

                    .btn {
                        width: 100%;
                        border: none;
                        font-weight: 600;
                        padding-top: 0.5vw;
                        text-decoration: none;
                        padding-bottom: 0.5vw;
                        background-color: #ededed;

                        &:hover {
                            color: white;
                            background-color: $primary;
                        }

                        @media (max-width:767px) {
                            padding-top: 1.5vw;
                            padding-bottom: 1.5vw;
                            padding: 1.5vw 2vw;
                        }

                        .icn {
                            max-width: 1.4vw;
                            min-width: 1.4vw;

                            @media (max-width:767px) {
                                max-width: 3.5vw;
                                min-width: 3.5vw;
                            }
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                left: 0;
                width: 2.2vw;
                height: 2.2vw;
                display: flex;
                margin-top: -2vw;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: white;
                border: solid 1px #9D9D9D;

                &::after {
                    font-size: 1.2vw;
                    color: #9D9D9D;

                    @media (max-width:767px) {
                        font-size: 2.8vw;
                    }
                }

                @media (max-width:767px) {
                    width: 6vw;
                    height: 6vw;
                }
            }

            .swiper-button-next {
                right: 0;
                left: auto;
            }
        }
    }
}